@import "../../mixins/aside.mixin.scss";


.aside {
  @include asideSize;
  .postForm{
    display: flex;
    justify-content: center;
    padding: 30px;
    // input{
    //   &.ng-invalid{
    //     border: 1px solid red;
    //   }
    // }
    
  }
}
