<mat-card
  class="example-card post"
  id="{{ post.id }}"
  *ngFor="let post of posts; let idx = index" 
  [ngClass]="{ postElem: true }"
>
  <img mat-card-image [src]="postImg" alt="{{ post.title }} image" />
  <mat-card-header>
    <mat-card-title>{{ post.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="postDescription">
    <p [ngClass]="{ description: true }">{{ post.body }}</p>
  </mat-card-content>
  <mat-card-actions class="button">
    <button
      mat-stroked-button
      color="warn"
      [routerLink]="['/postsdetail', post.id]"
    >
      Click here
    </button>
    <div [ngClass]="{ editButtons: true }" *ngIf="post.checked==true">
      <button
        mat-mini-fab
        color="primary"
        aria-label="Example icon button with a home icon"
        (click)="editPost(post)"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-mini-fab
        color="warn"
        aria-label="Example icon button with a home icon"
        (click)="deletePost(post)"
      >
        <mat-icon id="{{ post.id }}">delete</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
<!-- </div> -->
